QMainWindow {
	background-color: '#efefeb';
	/*
	min-height: 351px;
	min-width: 580px;
	max-height: 351px;
	max-width: 580px;
	*/
}

QWidget#RadioPage {
	background-color: '#dbdbdb';
}

QWidget#borderTop {
	background-image: url(:/mp/Views/border.png);
	background-position: top left;
	background-repeat: repeat-xy;
	max-height: 2px;
	min-width: 580px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* Titlebar */
QWidget#titleBar {
	background-color: '#efefeb';
	max-height: 38px;
}

 QTabWidget::pane {
     border: 6px solid #dbdbdb;
 }

 QTabWidget::tab-bar {
    border: 0px solid #efefeb;
 }

 QTabBar::tab {
	 font: 11pt;
	 background-color: '#efefeb';
     border: 0px solid #C4C4C3;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     min-width: 100px;
	 min-height: 30px;
     padding: 2px;
 }

 QTabBar::tab:selected, QTabBar::tab:hover {

 }

 QTabBar::tab:selected {
	background-color: '#dbdbdb';
 }

 QTabBar::tab:!selected {
	background-color: '#efefeb';
 }


QLabel#minimizeLnk {
	background-image: url(:/mp/Resources/minimizeicon.png);
	background-repeat: no-repeat;
	margin-top: 2px;
	min-width: 10px;
	max-width: 10px;
}

QLabel#closeLnk {
	color : white;
	background-image: url(:/mp/Resources/closeicon.png);
	background-repeat: no-repeat;
	margin-top: 2px;
	min-width: 10px;
	max-width: 10px;
}







